[data-component="button"] {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  font-size: var(--font-size-xs);
  height: var(--space-12);
  outline: none;
  font-weight: 500;
  padding: 0 var(--space-3-5);
  border-width: 2px;

  &:hover [data-slot="icon"] {
    color: var(--color-foreground-2);
  }

  &:has([data-slot="icon"]:first-child) {
    padding-left: var(--space-2);
  }

  &:has([data-slot="icon"]:last-child) {
    padding-right: var(--space-2);
  }

  &[data-color="primary"] {
    color: var(--color-accent);
    border-color: var(--color-accent);

    &:hover {
      color: oklch(from var(--color-accent) calc(l + 0.03) c h);
    }
  }

  &[data-color="secondary"] {
    background: var(--color-blue);

    &:hover {
      background: oklch(from var(--color-blue) calc(l + 0.03) c h);
    }
  }

  &[data-color="ghost"] {
    background: transparent;

    &:hover {
      background: oklch(1 0 0 / 0.04);
    }
  }

  &[data-size="sm"] {
    height: var(--space-7);
    border-radius: 5px;
    padding: var(--space-2-5);

    [data-slot="icon"] {
      width: var(--space-4);
      height: var(--space-4);
    }

    &:has([data-slot="icon"]:first-child) {
      padding-left: var(--space-1);
    }

    &:has([data-slot="icon"]:last-child) {
      padding-right: var(--space-1);
    }
  }

  [data-slot="icon"] {
    width: var(--space-4);
    height: var(--space-4);
    color: var(--color-foreground-1);
    transition: transform 0.2s ease;
  }

  &[data-rotate] [data-slot="icon"] {
    transform: rotate(180deg);
  }
}
