---
import { Image } from 'astro:assets';
import config from "virtual:starlight/user-config";
import type { Props } from '@astrojs/starlight/props';
import screenshot from "../assets/screenshot.png";
import Diagram from "../assets/diagram.svg";

const { data } = Astro.locals.starlightRoute.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};

const imageAttrs = {
    loading: 'eager' as const,
    decoding: 'async' as const,
    width: 400,
    alt: image?.alt || '',
};

let darkImage: ImageMetadata | undefined;
let lightImage: ImageMetadata | undefined;
let rawHtml: string | undefined;
if (image) {
    if ('file' in image) {
        darkImage = image.file;
    } else if ('dark' in image) {
        darkImage = image.dark;
        lightImage = image.light;
    } else {
        rawHtml = image.html;
    }
}
---
<div class="hero">
    <section class="top">
      <div class="logo">
        <Image
          src={darkImage}
          {...imageAttrs}
          class:list={{ 'light:sl-hidden': Boolean(lightImage) }}
        />
        <Image src={lightImage} {...imageAttrs} class="dark:sl-hidden" />
      </div>
      <h1>Control your infrastructure with AI.</h1>
    </section>

    <section class="cta">
      <div class="col1">
        <a href="/docs/how-it-works/">Learn more</a>
      </div>
      <div class="col2">
        <a href="/docs/">Get started</a>
      </div>
      <div class="col3">
        <a target="_blank" href={config.social.github.url}>Star on GitHub</a>
      </div>
    </section>

    <section class="images">
      <div>
        <p>Client</p>
        <div>
          <Image src={screenshot} alt="OpenControl screenshot" class="image" />
        </div>
      </div>
      <div>
        <p>Architecture</p>
        <a href="/docs/how-it-works/">
          <Diagram class="image" />
        </a>
      </div>
    </section>

    <section class="content">
      <ul>
      <li><b>Self-hosted</b>: Runs in your infrastructure with access to internal resources and functions from your codebase; deploys to AWS Lambda, Cloudflare Workers, or containers.</li>
      <li><b>Unified gateway</b>: Generates a single HTTP endpoint that you can chat with or register with your AI client and it exposes all your tools.</li>
      <li><b>Universal</b>: Works with any model that supports tool calling. Like the models from Anthropic, OpenAI, or Google.</li>
      <li><b>Secure</b>: Supports authentication through any OAuth provider.</li>
      </ul>
    </section>

    <section class="footer">
      <div class="col1">
        <span>Version: Beta</span>
      </div>
      <div class="col2">
        <span>Author: <a href="https://sst.dev">SST</a></span>
      </div>
    </section>
</div>

<style>
.hero {
  --padding: 3rem;
  --vertical-padding: 2rem;
  --heading-font-size: var(--sl-text-3xl);

  margin: 1rem;
  border: 2px solid var(--sl-color-white);
}
@media (max-width: 30rem) {
  .hero {
    --padding: 1rem;
    --vertical-padding: 1rem;
    --heading-font-size: var(--sl-text-2xl);

    margin: 0.5rem;
  }
}

section.top {
  padding: var(--padding);

  h1 {
    margin-top: calc(var(--vertical-padding) / 8);
    font-size: var(--heading-font-size);
    line-height: 1.25;
    text-transform: uppercase;
  }

  img {
    height: auto;
    width: clamp(200px, 70vw, 400px);
  }
}

section.cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid var(--sl-color-white);

  & > div {
    flex: 1;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    padding: calc(var(--padding) / 2) 0.5rem;
  }

  @media (max-width: 30rem) {
    & > div {
      padding-bottom: calc(var(--padding) / 2 + 4px);
    }
  }

  & > div + div {
    border-left: 2px solid var(--sl-color-white);
  }
}
section.images {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border-top: 2px solid var(--sl-color-white);

  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 4);
    padding: calc(var(--padding) / 2);
    border-width: 0;
    border-style: solid;
    border-color: var(--sl-color-white);

    & > div, a {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  p {
    letter-spacing: -0.03125rem;
    text-transform: uppercase;
    color: var(--sl-color-text-dimmed);
  }

  & > div + div {
    border-width: 0 0 0 2px;
  }

  @media (max-width: 30rem) {
    & {
      flex-direction: column;
    }
    & > div + div {
      border-width: 2px 0 0 0;
    }
  }
}

.image {
  max-width: 100%;
  height: auto;
}

section.content {
  border-top: 2px solid var(--sl-color-white);
  padding: var(--padding);

  ul {
    padding-left: 1rem;

    li + li {
      margin-top: calc(var(--vertical-padding) / 2);
    }

    li b {
      text-transform: uppercase;
    }
  }
}

section.approach {
  border-top: 2px solid var(--sl-color-white);
  padding: var(--padding);

  p + p {
    margin-top: var(--vertical-padding);
  }
}

section.footer {
  border-top: 2px solid var(--sl-color-white);
  display: flex;
  flex-direction: row;

  & > div {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    padding: calc(var(--padding) / 2) 0.5rem;
  }

  & > div + div {
    border-left: 2px solid var(--sl-color-white);
  }
}
</style>
