/* tokens */
@import "./token/color.css";
@import "./token/reset.css";
@import "./token/animation.css";
@import "./token/font.css";
@import "./token/space.css";
@import "./token/radius.css";

/* components */
@import "./component/label.css";
@import "./component/input.css";
@import "./component/button.css";
@import "./component/dialog.css";

body {
  font-family: var(--font-mono);
  line-height: 1;
  color: var(--color-text);
  background-color: var(--color-bg);
  cursor: default;
  user-select: none;
  text-underline-offset: 0.1875rem;
}

a {
  text-decoration: underline;
  &:active {
    color: var(--color-text-accent);
  }
}

::selection {
  background-color: var(--color-text-accent-invert);
}
